<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="logo flex-class" sizeMd="6" offsetMd="3" sizeSm="8" offsetSm="2">
        <img src="/assets/images/logo.png" alt="" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="scan flex-class" sizeXs="8" offsetXs="2" sizeMd="6" offsetMd="3" sizeSm="8" offsetSm="2">
        <ion-text color="danger">
          <h1>Scan</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="12" sizeSm="8" offseSm="2" sizeMd="6" offsetMd="3">
        <ion-text size="medium" class="ion-text-center">
          <p>Please, Hold your card near the NFC tag</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
